


.nav {
  /* flex box layout */
  margin: 0 0 30px;
  background-color: #00acb0;
  overflow: hidden;
  font-family: 'Lemon', cursive;
  background-image: url('/src/images/yellowcrafts.jpg');
  position: relative;
  background-size: cover;
  
  

}


/* This was preventing my CraftRat nav link from being clicked */
/* .nav::before{
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.05);
} */




.nav a {
  text-decoration: none;
}

.nav-title{
  padding-left: 10px;
}

.nav-title, .greeting {
  font-size: 40px;
  font-weight: 700;
  color: white;
  margin: 0;
}


.navLink {
  display: inline-block;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #008183;
}


